@import "tailwindcss";

@font-face {
  font-family: 'Fractul';
  src: url('/fonts/Fractul-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'NeulisAlt';
  src: url('/fonts/NeulisAlt-regular.woff2') format('woff2');
}

:root {
  --background: #FEF5F5;
  --foreground: #1B0505;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bg-tag-international: #FFDFD2;
  --color-bg-tag-societe: #FFE1AA;
  --color-bg-tag-culture: #C5FFA9;
  --color-gray: #F3DEDE;
  --color-tag-all: #3F2525;
  --color-tag-international: #FC2908;
  --color-tag-societe: #5E4007;
  --color-tag-culture: #153A03;
  --color-tag-politic: #071652;
  --color-accent: #DE595C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1B0505;
    --foreground: #FEF5F5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Fractul, sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'NeulisAlt, sans-serif';
}

@keyframes slide-in {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes slide-out {
  from { transform: translateY(0); opacity: 1; }
  to { transform: translateX(100%); opacity: 0; }
}

.slide-in {
  animation: slide-in 0.4s ease-out forwards;
}

.slide-out {
  animation: slide-out 0.4s ease-in forwards;
}
