@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Fractul';
  src: url('/fonts/Fractul-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeulisAlt';
  src: url('/fonts/NeulisAlt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@layer utilities {
  .font-fractul {
    font-family: 'Fractul', sans-serif;
  }
  .font-neulisalt {
    font-family: 'NeulisAlt', sans-serif;
  }
}

@layer base {
  :root {
    --color-background: #FEF5F5;
    --color-foreground: #171414;
    --color-gray: #F3DEDE;
    --color-accent: #DE595C;
    --color-header: #FEF5F5;
    --button-color: #F58688;
  }

  .dark {
    --color-background: #171414;
    --color-foreground: #FEF5F5;
    --color-gray: #2D2D2D;
    --color-header: #171414;
  }

  body {
    background-color: var(--color-background);
    /* color: var(--color-foreground); */
  }

  .bg-header {
    background-color: var(--color-header);
  }
}

/* Classes de background pour les tags */
.bg-background-tag-international { background-color: #FFDFD2; }
.bg-background-tag-societe { background-color: #FFE1AA; }
.bg-background-tag-culture { background-color: #C5FFA9; }
.bg-background-tag-politic { background-color: #C8D3FF; }
.bg-background-tag-all { background-color: #F3DEDE; }

/* Classes de texte pour les tags */
.text-tag-international { color: #7C2908; }
.text-tag-societe { color: #5E4007; }
.text-tag-culture { color: #153A03; }
.text-tag-politic { color: #071652; }
.text-tag-all { color: #3F2525; }

/* Classes de background pour les cercles */
.bg-tag-international { background-color: #7C2908; }
.bg-tag-societe { background-color: #5E4007; }
.bg-tag-culture { background-color: #153A03; }
.bg-tag-politic { background-color: #071652; }
.bg-tag-all { background-color: #3F2525; }


.bg-gray { background-color: #F3DEDE; }



.test {
  font-family: var(--font-family-neulisalt);
}

@keyframes slide-in {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes slide-out {
  from { transform: translateY(0); opacity: 1; }
  to { transform: translateX(100%); opacity: 0; }
}

.slide-in {
  animation: slide-in 0.4s ease-out forwards;
}

.slide-out {
  animation: slide-out 0.4s ease-in forwards;
}
