@import "tailwindcss";

@font-face {
  font-family: 'Fractul';
  src: url('/fonts/Fractul-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'NeulisAlt';
  src: url('/fonts/NeulisAlt-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'NeulisAltBlack';
  src: url('/fonts/NeulisAlt-Black.woff2') format('woff2');
  font-weight: 900;
}


:root {
  --background: #FEF5F5;
  --foreground: #1B0505;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray: #F3DEDE;
  --color-accent: #DE595C;
}

/* Classes de background pour les tags */
.bg-background-tag-international { background-color: #FFDFD2; }
.bg-background-tag-societe { background-color: #FFE1AA; }
.bg-background-tag-culture { background-color: #C5FFA9; }
.bg-background-tag-politic { background-color: #C8D3FF; }
.bg-background-tag-all { background-color: #F3DEDE; }

/* Classes de texte pour les tags */
.text-tag-international { color: #FC2908; }
.text-tag-societe { color: #5E4007; }
.text-tag-culture { color: #153A03; }
.text-tag-politic { color: #071652; }
.text-tag-all { color: #3F2525; }

/* Classes de background pour les cercles */
.bg-tag-international { background-color: #FC2908; }
.bg-tag-societe { background-color: #5E4007; }
.bg-tag-culture { background-color: #153A03; }
.bg-tag-politic { background-color: #071652; }
.bg-tag-all { background-color: #3F2525; }

.bg-gray { background-color: #F3DEDE; }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1B0505;
    --foreground: #FEF5F5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Fractul, sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'NeulisAlt, sans-serif';
}

@keyframes slide-in {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes slide-out {
  from { transform: translateY(0); opacity: 1; }
  to { transform: translateX(100%); opacity: 0; }
}

.slide-in {
  animation: slide-in 0.4s ease-out forwards;
}

.slide-out {
  animation: slide-out 0.4s ease-in forwards;
}
